node_modules/
.git/
.expo/
.expo-shared/
build/
dist/
/android
/ios
ios/build/
ios/Pods/
ios/DerivedData/
android/build/
android/app/build/
android/.gradle/
**/.cxx/
**/build/
**/*.md
**/*.sql
**/*.bak
**/*.backup
**/*.sh
**/*.log
.DS_Store
*.tmp